node_modules
.next
.husky
.idea
.storybook
.swc
.vscode
.eslintrc.json
__tests__
public
README.md
.pretierrc.json
babel.config.test.js
modules.d.ts
next-env.d.ts
package*.json
postcss.config.js
.prettierrc.json
reports
.idea